# Makefile for Textseek package

VERSION=1.46-1
PACKAGES= \
	Textseek_$(VERSION)

INSTALL_TO=Apps/Text


pkg:
	rm -rf Temp
	mkdir -p Temp/RiscPkg
	mkdir -p Temp/$(INSTALL_TO)
	cp RiscPkg/Control Temp/RiscPkg
	cp RiscPkg/Copyright Temp/RiscPkg
	cp -R !Textseek Temp/$(INSTALL_TO)
	rm -rf Temp/$(INSTALL_TO)/!Textseek/SHeap
	rm -rf Temp/$(INSTALL_TO)/!Textseek/Source
	patch -u Temp/$(INSTALL_TO)/!Textseek/!Run RunDiff
	settype Temp.Apps.Text.!Textseek.!Run Obey
	Dir Temp
	zip -r ../RiscPkg/Textseek_$(VERSION) *
	Dir ^
	rm -rf Temp

