Package: Textseek
Version: 1.47-2
Section: Text
Priority: Optional
Maintainer: Alan Buckley <alan_baa@hotmail.com>
Standards-Version: 0.6.0
Environment: arm
Licence: Free
Description: Seek out specified words or phrases across multiple files.
 Textseek is a WIMP front-end to a fast machine-code search routine.
 It uses throwback to display the context of search results, showing
 a whole line of text. It detokenises BASIC before searching it.
Homepage: http://starfighter.acornarcade.com/mysite/utilities.htm#textseek
Components: Apps.Text.!Textseek (Movable)
Depends: SlidingHeap
Recommends: StrongHelp
